# General
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/blink.X/nbproject/private/
/blink.X/build/default/
/blink.X/dist/default/
/blink2.X/nbproject/private/
/mplab x projects/pic18/xc8/blink.X/nbproject/private/
/mplab x projects/pic18/blink.X/nbproject/private/
/mplabx/pic18/blink.X/nbproject/private/
/mplabx/pic18/blink.X/dist/XC8_18F14K50/
/mplabx/pic18/blink.X/build/XC8_18F14K50/
/mplabx/pic18/blink.X/dist/C18_18F87K22/
/mplabx/pic18/blink.X/build/C18_18F87K22/
/mplabx/pic18/blink.X/build/XC8_18F87K22/
/mplabx/pic18/blink.X/dist/XC8_18F87K22/
/mplabx/pic18/blink.X/build/PICC18_18F87K22/
/mplabx/pic18/blink.X/dist/PICC18_18F87K22/
/mplabx/pic18/blink.X/build/C18_18F46J11/
/mplabx/pic18/blink.X/dist/C18_18F46J11/
/mplabx/pic18/blink.X/build/C18_18F87J60/
/mplabx/pic18/blink.X/dist/C18_18F87J60/
/mplabx/pic18/blink.X/dist/C18_18F1220/
/mplabx/pic18/blink.X/build/C18_18F1220/
/mplabx/pic18/blink.X/dist/PICC18_18F14K50/
/mplabx/pic18/blink.X/build/PICC18_18F14K50/
/mplabx/pic18/blink.X/dist/XC8_18F97J60/
/mplabx/pic18/blink.X/build/XC8_18F97J60/
/mplabx/pic18/blink.X/dist/PICC18_18F1220/
/mplabx/pic18/blink.X/build/PICC18_18F1220/
/mplabx/pic18/blink.X/dist/C18_18F14K50/
/mplabx/pic18/blink.X/build/C18_18F14K50/
/mplabx/pic18/blink.X/dist/XC8_18F46J11/
/mplabx/pic18/blink.X/build/XC8_18F46J11/
/mplabx/pic18/blink.X/build/XC8_18F1220/
/mplabx/pic18/blink.X/dist/XC8_18F1220/
/mplabx/pic18/blink.X/build/PICC18_18F46J11/
/mplabx/pic18/blink.X/dist/PICC18_18F46J11/
/mplabx/pic18/blink.X/build/PICC18_18F97J60/
/mplabx/pic18/blink.X/dist/PICC18_18F97J60/
/mplabx/pic24/blink.X/nbproject/private/
/mplabx/pic32/blink.X/nbproject/private/
/mplabx/pic18/blink.X/build/C18_18F46K20/
/mplabx/pic18/blink.X/dist/C18_18F46K20/
/mplabx/pic18/blink.X/dist/XC8_18F46K20/
/mplabx/pic18/blink.X/build/XC8_18F46K20/
/mplabx/pic18/blink.X/build/PICC18_18F46K20/
/mplabx/pic18/blink.X/dist/PICC18_18F46K20/
/mplabx/pic18/serial.X/nbproject/private/
/mplabx/pic18/serial.X/build/C18_18F46K20/
/mplabx/pic18/serial.X/dist/C18_18F46K20/
/mplabx/pic18/spi.X/nbproject/private/
/mplabx/pic18/spi.X/build/C18_18F46K20/
/mplabx/pic18/spi.X/dist/C18_18F46K20/
/mplabx/pic18/spi.X/build/XC18_18F46K20/
/mplabx/pic18/spi.X/build/XC8_18F46K20/
/mplabx/pic18/serial.X/build/XC8_18F46K20/
/mplabx/pic18/serial.X/dist/XC8_18F46K20/
/mplabx/pic18/spi.X/dist/XC8_18F46K20/
/AN1921_Source Code/TCPIP Demo/tcpServerDEMO.X/dist/PICDEM.net2_ETH97J60 03.01.37/
/AN1921_Source Code/TCPIP Demo/tcpServerDEMO.X/build/PICDEM.net2_ETH97J60/
/AN1921_Source Code/TCPIP Demo/tcpServerDEMO.X/dist/PICDEM.net2_ENCx24J600_SPI 03.01.37/
/mplabx/pic18/ethernet.X/nbproject/private/
/mplabx/pic18/ethernet.X/build/XC8_18F46K20/
/mplabx/pic18/ethernet.X/dist/XC8_18F46K20/
/mplabx/mcc/pic18f46k20/blink.X/nbproject/private/
/mplabx/mcc/pic18f87j72/blink.X/nbproject/private/
/mplabx/harmony/pic32mz2048efm144/blink.X/nbproject/private/
/mplabx/mcc/pic18f46k20/serial.X/nbproject/private/
/mplabx/mcc/pic18f46k20/spi.X/nbproject/private/
/mplabx/mcc/pic18f46k20/ethernet.X/nbproject/private/
/mplabx/mcc/pic18f46k20/ethernet.X/build/default/
/mplabx/mcc/pic18f46k20/ethernet.X/dist/default/
/mplabx/mcc/pic24fj256ga702/blink.X/nbproject/private/
/mplabx/mcc/pic18f46k20/serial.X/build/default/
/mplabx/mcc/pic18f46k20/serial.X/dist/default/
/mplabx/mcc/pic18f46k20/spi.X/build/default/
/mplabx/mcc/pic18f46k20/spi.X/dist/default/
/mplabx/mcc/pic18f97j60/serial.X/nbproject/private/
/mplabx/mcc/pic18f46k20/blink.X/build/default/
/mplabx/mcc/pic18f46k20/blink.X/dist/default/
/mplabx/mcc/pic24ep512gu810/blink.X/nbproject/private/
/mplabx/mcc/pic24fj128gb202/blink.X/nbproject/private/
/mplabx/mcc/pic24fj256ga702/serial.X/nbproject/private/
/mplabx/mcc/pic24fj256ga702/serial.X/build/default/
/mplabx/mcc/pic24fj256ga702/serial.X/dist/default/
/mplabx/mcc/pic24fj256ga702/spi.X/nbproject/private/
/mplabx/mcc/pic24fj256ga702/spi.X/build/default/
/mplabx/mcc/pic24fj256ga702/spi.X/dist/default/
/mplabx/pic16f628a/blink.X/nbproject/private/
/mplabx/mcc/pic18f46k20/timer.X/nbproject/private/
/mplabx/mcc/pic18f97j60/ethernet.X/nbproject/private/
/mplabx/pic18/modbus.X/nbproject/private/
/mplabx/mcc/pic18f46k20/interrupt.X/nbproject/private/
/mplabx/mcc/pic18f97j94/blink.X/nbproject/private/
/mplabx/mcc/pic18f87k90/blink.X/nbproject/private/
/mplabx/mcc/pic18f46k20/timer.X/dist/default/
/mplabx/mcc/pic18f46k20/timer.X/build/default/
/mplabx/mcc/pic18f46k20/spi+timer.X/nbproject/private/
/mplabx/mcc/pic18f46k20/spi+timer.X/build/default/
/mplabx/mcc/pic18f46k20/spi+timer.X/dist/default/
/mplabx/mcc/pic32mx270f256b/blink.X/nbproject/private/
/mplabx/pic18/modbus.X/build/default/
/mplabx/pic18f46k20/serial.X/nbproject/private/
/AN1921_Source Code/TCPIP Demo/tcpServerDEMO.X/build/PIC18F46K20_ENC28J60/
/AN1921_Source Code/TCPIP Demo/tcpServerDEMO.X/dist/PIC18F46K20_ENC28J60/
/MLA/MDD File System-SD Card/MPLAB.X/build/PIC18F87J50_PIM_PIC18_Explorer_Board/
/MLA/MDD File System-SD Card/MPLAB.X/dist/PIC18F87J50_PIM_PIC18_Explorer_Board/
/MLA/TCPIP/Demo App MDD/MPLAB.X/build/XC16-SD_Card/
/MLA/TCPIP/Demo App MDD/MPLAB.X/dist/XC16-SD_Card/
/MLA/MDD File System-SD Card/MPLAB.X/build/PIC18F46K20/
/MLA/MDD File System-SD Card/MPLAB.X/build/PIC18F8722_PIC18_Explorer_Board/
/MLA/MDD File System-SD Card/MPLAB.X/dist/PIC18F8722_PIC18_Explorer_Board/
/MLA/MDD File System-SD Card/MPLAB.X/dist/PIC18F46K20/
/MLA/MDD File System-SD Card/MPLAB.X/build/PIC24FJ256GB110_PIM_Exp_16_Board/
/MLA/MDD File System-SD Card/MPLAB.X/dist/PIC24FJ256GB110_PIM_Exp_16_Board/
/MLA/TCPIP/Demo App/MPLAB.X/build/XC16_GA702_ENC28/
/MLA/TCPIP/Demo App/MPLAB.X/dist/XC16_GA702_ENC28/
/MLA/MDD File System-SD Card/MPLAB.X/build/PIC24FJ256DA210_Board/
/MLA/MDD File System-SD Card/MPLAB.X/dist/PIC24FJ256DA210_Board/
/mplabx/mcc/pic24fj128gc010/serial.X/nbproject/private/
/mplabx/mcc/pic24fj128gc010/serial.X/build/default/
/mplabx/mcc/pic24fj128gc010/serial.X/dist/default/
/mplabx/mcc/pic24fj128gc010/sdadc.X/nbproject/private/
/mplabx/mcc/pic24fj128gc010/sdadc.X/build/default/
/mplabx/mcc/pic24fj128gc010/sdadc.X/dist/default/
/mplabx/mcc/pic24fj128gc010/adc.X/nbproject/private/
/mplabx/mcc/pic24fj256gb410/adc.X/nbproject/private/
/mplabx/mcc/pic24fj256ga702/adc.X/nbproject/private/
/mplabx/mcc/pic18f46k20/adc.X/nbproject/private/
/mplabx/mcc/pic24fj128gc010/gpio.X/nbproject/private/
/mplabx/mcc/pic24fj256gb410/serial.X/nbproject/private/
/mplabx/mcc/pic24fj256gb410/serial.X/build/default/
/mplabx/mcc/pic24fj256gb410/serial.X/dist/default/
/mplabx/mcc/pic24fj256gb410/spi.X/nbproject/private/
/mplabx/mcc/pic24fj256gb410/spi.X/build/default/
/mplabx/mcc/pic24fj256gb410/spi.X/dist/default/
/mplabx/mcc/pic24fj256gb410/dac.X/nbproject/private/
/mplabx/mcc/pic24fj256gb410/dac.X/build/default/
/mplabx/mcc/pic24fj256gb410/dac.X/dist/default/
/mplabx/mcc/pic24fj256gb410/adc.X/build/default/
/mplabx/mcc/pic24fj256gb410/adc.X/dist/default/
/mplabx/mcc/pic24fj256gb410/pwm.X/nbproject/private/
/mplabx/mcc/pic24fj256gb410/pwm.X/build/default/
/mplabx/mcc/pic24fj256gb410/pwm.X/dist/default/
/mplabx/mcc/pic24fj256gb110/blink.X/nbproject/private/
/mplabx/mcc/pic24fj256gb110/serial.X/nbproject/private/
/mplabx/mcc/pic24fj256gb110/serial.X/build/default/
/mplabx/mcc/pic24fj256gb110/serial.X/dist/default/
/mplabx/pic24/serial.X/nbproject/private/
/mplabx/pic24/serial.X/build/default/
/mplabx/pic24/serial.X/dist/default/
/mplabx/mcc/pic24fj128gc010/adc.X/build/default/
/mplabx/mcc/pic24fj128gc010/adc.X/dist/default/
/mplabx/pic24/padc.X/nbproject/private/
/mplabx/pic24/padc.X/build/default/
/mplabx/pic24/padc.X/dist/default/
/mplabx/pic24/serial.X/build/gc010/
/mplabx/pic24/serial.X/dist/gc010/
/mplabx/pic24/serial.X/build/gb110/
/mplabx/pic24/serial.X/dist/gb110/
/mplabx/pic24/ethernet.X/nbproject/private/
/mplabx/pic24/ethernet.X/build/default/
/mplabx/pic24/ethernet.X/dist/default/
/mplabx/pic24/ethernet.X/build/gc010/
/mplabx/pic24/ethernet.X/dist/gc010/
/mplabx/pic24/ethernet.X/build/gb110/
/mplabx/pic24/ethernet.X/dist/gb110/
/mplabx/mcc/pic24fj256gb110/spi.X/nbproject/private/
/mplabx/mcc/pic24fj256gb110/spi.X/build/default/
/mplabx/mcc/pic24fj256gb110/spi.X/dist/default/
/mplabx/pic24/spi.X/nbproject/private/
/mplabx/pic24/spi.X/build/default/
/mplabx/pic24/spi.X/dist/default/
/mplabx/mcc/pic24fj256gb110/crc.X/nbproject/private/
/mplabx/mcc/pic24fj128gc010/modbus.X/nbproject/private/
/mplabx/mcc/pic24fj128gc010/modbus.X/build/default/
/mplabx/mcc/pic24fj128gc010/modbus.X/dist/default/
/mplabx/mcc/pic24fj256gb110/modbus.X/nbproject/private/
/mplabx/mcc/pic24fj256gb110/modbus.X/build/default/
/mplabx/mcc/pic24fj256gb110/modbus.X/dist/default/
/mplabx/mcc/dspic33ep512mu810/serial.X/nbproject/private/
/mplabx/mcc/pic24ep512gu810/serial.X/nbproject/private/
/mplabx/mcc/dsPIC33EP512MC506/blink.X/nbproject/private/
/mplabx/dspic33e/serial.X/nbproject/private/
/mplabx/dspic33e/serial.X/build/default/
/mplabx/dspic33e/serial.X/dist/default/
/mplabx/mcc/pic24fj256gb110/adc.X/nbproject/private/
/mplabx/mcc/pic24fj256gb110/adc.X/dist/default/
/mplabx/mcc/pic24fj256gb110/adc.X/build/default/