/blink.X/nbproject/private/
/blink.X/build/default/
/blink.X/dist/default/
/blink2.X/nbproject/private/
/mplab x projects/pic18/xc8/blink.X/nbproject/private/
/mplab x projects/pic18/blink.X/nbproject/private/
/mplabx/pic18/blink.X/nbproject/private/